body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/table.jpeg");
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
    font-size: 5rem;
}

#message-el {
    font-style: italic;
    font-size: 2.5rem;
}

p {
    font-size: 2rem;
}

button {
    cursor: pointer;
    font-size: 1.5rem;
    color: #016f32;
    width: 250px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;
}